@import url('https://fonts.googleapis.com/css2? family= Roboto+Slab & display=swap');

body {
    background-color: rgb(207, 201, 207);
     
    font: normal 16px 'Roboto Slab', serif;
}

.avatar {
    width: 200px;
    border-radius: 20px;
    margin-right: 20px;
}

.greeting p {
    font-style: italic;
}

.greeting {
    display: flex;
    margin-bottom: 20px;
}

.box-model {
    margin: auto;
}

.bg-1 {
    background: rgb(204, 169, 195);
}

.bg-2 {
    background: rgb(240, 209, 232);
}


.info {
   padding: 15px 20px;
   margin-bottom: 20px;
   border-radius: 20px;
}

.list {
    padding-left: 0px 20px;
}

.table {
    width: 100%;

}

.table td {
    padding-bottom: 10px;
}

.table tr:nth-child(odd) {
    background: rgb(197, 147, 185);
}